@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-gray-100;
}

.brand {
  font-family: "Berkshire Swash", sans-serif;
}

.discord-button {
  background-color: #5865f2;
}

.button {
  @apply inline-flex justify-center px-4 py-2;
  @apply text-sm font-medium;
  @apply border border-transparent rounded-md;
}

.primary-button {
  @apply button;
  @apply text-indigo-900 bg-indigo-100 hover:bg-indigo-200;
}

.secondary-button {
  @apply button;
  @apply text-gray-900 bg-gray-100 hover:bg-gray-200;
}

.success-button {
  @apply button;
  @apply text-green-900 bg-green-100 hover:bg-green-200;
}

.danger-button {
  @apply button;
  @apply text-red-900 bg-red-100 hover:bg-red-200;
}
